<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nabbar</title>
    <link rel="stylesheet" href="navbar.css">
    
</head>
<body>
    
 <nav class="navbar">
      <ul class="sidebar">
        <li onclick="hidesidebar();" class="close-img"><a href="#">X</a></li>
        <li><a href="syllabus.html" class="syllabus">Syllabus</a></li>
        <li><a href="notes.html" class="notes">Notes</a></li>
        <li><a href="youtube.html" class="youtube"> YouTube</a></li>
        <li><a href="previousQ.html" class="previousQ"> Previous Questions </a></li>
    </ul>
    <ul class="horizontal">
        <li><a href="home.html" class="home" title="home"><img src="../utilities/Study Buddy.png" alt="logo" class="logo"><p>STUDYBUDDY</p></a></li>
        <li class="hideOnMobile">
          <a href="syllabus.html" class="syllabus">Syllabus</a></li>
        <li class="hideOnMobile">
          <a href="notes.html" class="notes">Notes</a>
        </li>
        <li class="hideOnMobile">
          <a href="youtube.html" class="youtube"> YouTube</a>
        </li>
        <li class="hideOnMobile">
          <a href="previousQ.html" class="previousQ"> Previous Questions</a>
        </li>
        <li onclick="showsidebar();" class="menu-btn" title="sidebar"><a href="#" class="menu-btn"><img src="./partials/menu.jpg" alt="menu" class="menu-img"></a></li>
    </ul>
  </nav>


</body>
</html>