*{
    margin:0;
    padding:0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav {
background-color: rgba(0, 70, 80);
  backdrop-filter: blur(12px);
  /* box-shadow: 0 2px 15px rgba(0, 255, 255, 0.4); */
    border-bottom: 2px solid #00eaff;

  height: 80px;
   display:flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    width:100%;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 60px;
}
nav a{
    height:70%;
    padding:0 20px;
    text-decoration:none;
    display:flex;
    align-items: center;
    color:#e1e4e4;
    transition: 0.3s;  
}

nav .horizontal a:not(.home):not(.menu-btn){
     border:3px solid #2e8ee2;
    border-radius: 20px;
    margin-right: 1em;
    box-shadow: 0 0 5px white;
  
}
nav .horizontal a:not(.home):not(.menu-btn):hover{
    background-color: #2e8ee2;
    color: #ffffff;
    border:3px solid #fdfdfd;


}

.sidebar {
  z-index: 9999;
}

.home img{
    margin-right:10px;
}
.home p{
    font-weight:600;
    
}

/* nav a:hover{
    background-color: #1e90ff;
    color: #ffffff;
    border-radius: 8px;
} */
nav li:first-child{
    margin-right:auto;
}
.sidebar{
    position:fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow:-10px 0 20px rgba(56,189,248,0.3);
    display:none;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    

}
.sidebar li{
    width:100%;
    color:#e0f7ff
}
.sidebar a{
    width:100%;
}
.menu-img,.logo{
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-radius: 50px;

}
.close-img{

    font-size: 22px;
    font-weight:bold;
    color:#000000;
   text-shadow: 0 0 10px #38bdf8;
  
    
   
    
}
.menu-btn{
    display: none;
}

@media(max-width:800px){
    .hideOnMobile{
        display:none;

    }
    .menu-btn{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}